# Settings for Foundry Agent
PROJECT_ENDPOINT=
AGENT_NAME=MyVoiceAgent
MODEL_DEPLOYMENT_NAME=gpt-4.1-mini

# Settings for Voice Live
PROJECT_NAME=
VOICELIVE_ENDPOINT=
VOICELIVE_API_VERSION=2026-01-01-preview

# Optional
AGENT_VERSION=
CONVERSATION_ID=
FOUNDRY_RESOURCE_OVERRIDE=
AGENT_AUTHENTICATION_IDENTITY_CLIENT_ID=
VOICE_NAME=en-US-Ava:DragonHDLatestNeural
